<div class="mb-5 d-flex justify-content-between main-loop-card">
<div class="pr-3">
	<h2 class="mb-1 h4 font-weight-bold">
	{% assign post_title_en = post.title_en | default: post.title %}
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">
		<span data-lang="ru">{{ post.title }}</span>
		<span data-lang="en">{{ post_title_en }}</span>
	</a>
	</h2>
	<p class="excerpt" href="{{site.baseurl}}{{post.url}}">
		{% assign ru_excerpt = post.excerpt | strip_html | strip_newlines %}
		{% assign en_excerpt = post.excerpt | strip_html | strip_newlines %}

		{% assign ru_split = post.content | split: '<div data-lang="ru" markdown="1">' %}
		{% if ru_split.size > 1 %}
			{% assign ru_only = ru_split[1] | split: '<div data-lang="en" markdown="1">' | first %}
			{% assign ru_excerpt = ru_only | strip_html | strip_newlines %}
		{% endif %}

		{% assign en_split = post.content | split: '<div data-lang="en" markdown="1">' %}
		{% if en_split.size > 1 %}
			{% assign en_excerpt = en_split[1] | strip_html | strip_newlines %}
		{% endif %}

		<span data-lang="ru">{{ ru_excerpt | truncate: 186 }}</span>
		<span data-lang="en">{{ en_excerpt | truncate: 186 }}</span>
	</p>
	<small class="d-block text-muted">
		<span data-lang="ru">Категория</span>
		<span data-lang="en">Category</span>
		<span class="catlist">
		{% for category in post.categories %}
		{% assign category_en = site.category_translations[category] | default: category %}
		<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
			<span data-lang="ru">{{ category }}</span>
			<span data-lang="en">{{ category_en }}</span>
		</a><span class="sep">, </span>
		{% endfor %}
		</span>
	</small>
	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small>
</div>
{% if post.image %}
	<div class="col-md-3 pr-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}">
	<img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
	</a>
	</div>
{% endif %}
</div>
