<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">
    <span data-lang="ru">Главная</span>
    <span data-lang="en">Home</span>
</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">
        <span data-lang="ru">Обратная связь</span>
        <span data-lang="en">Contact</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">
        <span data-lang="ru">О блоге</span>
        <span data-lang="en">About</span>
    </a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
-->
