<script src="{{site.baseurl}}/assets/js/lunr.js"></script>
<script src="{{site.baseurl}}/assets/js/lunr.stemmer.support.js"></script>

<!-- or any other language you want -->
<script src="{{site.baseurl}}/assets/js/lunr.multi.js"></script> 
<script src="{{site.baseurl}}/assets/js/lunr.ru.js"></script> 

<script>
$(function() {
    $("#lunrsearchresults").on('click', '#btnx', function () {
        $('#lunrsearchresults').hide( 1000 );
        $( "body" ).removeClass( "modal-open" );
    });
});
    
{% assign counter = 0 %}
var documents_ru = [];
var documents_en = [];

{% for page in site.pages %}
{% if page.url contains '.xml' or page.url contains 'assets' %}
{% else %}
{% assign ru_src = page.content %}
{% assign en_src = page.content %}

{% if page.layout == 'stub' or page.path contains '_pages/stub/' %}
    {% assign old_url = "https://mdanshin.blogspot.com" | append: page.url %}
    {% capture ru_stub %}
Эта страница больше не доступна по этому адресу, потому что блог переехал на новый хостинг.
Вы все еще можете прочитать статью по этой ссылке: {{ old_url }}.
Но лучше зайдите на главную страницу https://danshin.ms и воспользуйтесь поиском.
    {% endcapture %}
    {% capture en_stub %}
This page is no longer available at this address because the blog has moved to a new hosting.
You can still read the article at this link: {{ old_url }}.
Or go to the home page https://danshin.ms and use the search.
    {% endcapture %}
    {% assign ru_src = ru_stub %}
    {% assign en_src = en_stub %}
{% else %}

{% assign ru_split = page.content | split: '<div data-lang="ru"' %}
{% if ru_split.size > 1 %}
    {% assign ru_tag_parts = ru_split[1] | split: '>' %}
    {% if ru_tag_parts.size > 1 %}
        {% assign ru_inner_plus = ru_tag_parts | slice: 1, ru_tag_parts.size | join: '>' %}
        {% assign ru_src = ru_inner_plus | split: '</div>' | first %}
    {% endif %}
{% endif %}

{% assign en_split = page.content | split: '<div data-lang="en"' %}
{% if en_split.size > 1 %}
    {% assign en_tag_parts = en_split[1] | split: '>' %}
    {% if en_tag_parts.size > 1 %}
        {% assign en_inner_plus = en_tag_parts | slice: 1, en_tag_parts.size | join: '>' %}
        {% assign en_src = en_inner_plus | split: '</div>' | first %}
    {% endif %}
{% endif %}

{%- comment -%}Fallback: extract text from <span data-lang=".."> blocks (used in some pages){%- endcomment -%}
{% if ru_split.size == 1 and page.content contains '<span data-lang="ru">' %}
    {% assign ru_parts = page.content | split: '<span data-lang="ru">' %}
    {% capture ru_acc %}{% for part in ru_parts offset:1 %}{{ part | split: '</span>' | first }} {% endfor %}{% endcapture %}
    {% assign ru_src = ru_acc %}
{% endif %}

{% if en_split.size == 1 and page.content contains '<span data-lang="en">' %}
    {% assign en_parts = page.content | split: '<span data-lang="en">' %}
    {% capture en_acc %}{% for part in en_parts offset:1 %}{{ part | split: '</span>' | first }} {% endfor %}{% endcapture %}
    {% assign en_src = en_acc %}
{% endif %}

{%- comment -%}If a page has no EN markup, don't index RU-only body into EN search{%- endcomment -%}
{% if en_split.size == 1 %}
    {% unless page.content contains '<span data-lang="en">' or page.content contains '<div data-lang="en"' or page.title_en %}
        {% assign en_src = '' %}
    {% endunless %}
{% endif %}

{% endif %}

documents_ru.push({
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ ru_src | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
});

documents_en.push({
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title_en | default: page.title }}",
    "body": "{{ en_src | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
});

{% assign counter = counter | plus: 1 %}
{% endif %}
{% endfor %}

{% for page in site.without-plugin %}
{% assign ru_src = page.content %}
{% assign en_src = page.content %}

{% if page.layout == 'stub' or page.path contains '_pages/stub/' %}
    {% assign old_url = "https://mdanshin.blogspot.com" | append: page.url %}
    {% capture ru_stub %}
Эта страница больше не доступна по этому адресу, потому что блог переехал на новый хостинг.
Вы все еще можете прочитать статью по этой ссылке: {{ old_url }}.
Но лучше зайдите на главную страницу https://danshin.ms и воспользуйтесь поиском.
    {% endcapture %}
    {% capture en_stub %}
This page is no longer available at this address because the blog has moved to a new hosting.
You can still read the article at this link: {{ old_url }}.
Or go to the home page https://danshin.ms and use the search.
    {% endcapture %}
    {% assign ru_src = ru_stub %}
    {% assign en_src = en_stub %}
{% else %}

{% assign ru_split = page.content | split: '<div data-lang="ru"' %}
{% if ru_split.size > 1 %}
    {% assign ru_tag_parts = ru_split[1] | split: '>' %}
    {% if ru_tag_parts.size > 1 %}
        {% assign ru_inner_plus = ru_tag_parts | slice: 1, ru_tag_parts.size | join: '>' %}
        {% assign ru_src = ru_inner_plus | split: '</div>' | first %}
    {% endif %}
{% endif %}

{% assign en_split = page.content | split: '<div data-lang="en"' %}
{% if en_split.size > 1 %}
    {% assign en_tag_parts = en_split[1] | split: '>' %}
    {% if en_tag_parts.size > 1 %}
        {% assign en_inner_plus = en_tag_parts | slice: 1, en_tag_parts.size | join: '>' %}
        {% assign en_src = en_inner_plus | split: '</div>' | first %}
    {% endif %}
{% endif %}

{% if ru_split.size == 1 and page.content contains '<span data-lang="ru">' %}
    {% assign ru_parts = page.content | split: '<span data-lang="ru">' %}
    {% capture ru_acc %}{% for part in ru_parts offset:1 %}{{ part | split: '</span>' | first }} {% endfor %}{% endcapture %}
    {% assign ru_src = ru_acc %}
{% endif %}

{% if en_split.size == 1 and page.content contains '<span data-lang="en">' %}
    {% assign en_parts = page.content | split: '<span data-lang="en">' %}
    {% capture en_acc %}{% for part in en_parts offset:1 %}{{ part | split: '</span>' | first }} {% endfor %}{% endcapture %}
    {% assign en_src = en_acc %}
{% endif %}

{% if en_split.size == 1 %}
    {% unless page.content contains '<span data-lang="en">' or page.content contains '<div data-lang="en"' or page.title_en %}
        {% assign en_src = '' %}
    {% endunless %}
{% endif %}

{% endif %}

documents_ru.push({
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ ru_src | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
});

documents_en.push({
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title_en | default: page.title }}",
    "body": "{{ en_src | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
});

{% assign counter = counter | plus: 1 %}
{% endfor %}

{% for page in site.posts %}
{% assign ru_src = page.content %}
{% assign en_src = page.content %}

{% assign ru_split = page.content | split: '<div data-lang="ru"' %}
{% if ru_split.size > 1 %}
    {% assign ru_tag_parts = ru_split[1] | split: '>' %}
    {% if ru_tag_parts.size > 1 %}
        {% assign ru_inner_plus = ru_tag_parts | slice: 1, ru_tag_parts.size | join: '>' %}
        {% assign ru_src = ru_inner_plus | split: '</div>' | first %}
    {% endif %}
{% endif %}

{% assign en_split = page.content | split: '<div data-lang="en"' %}
{% if en_split.size > 1 %}
    {% assign en_tag_parts = en_split[1] | split: '>' %}
    {% if en_tag_parts.size > 1 %}
        {% assign en_inner_plus = en_tag_parts | slice: 1, en_tag_parts.size | join: '>' %}
        {% assign en_src = en_inner_plus | split: '</div>' | first %}
    {% endif %}
{% endif %}

documents_ru.push({
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ ru_src | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
});

documents_en.push({
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title_en | default: page.title }}",
    "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ en_src | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
});

{% assign counter = counter | plus: 1 %}
{% endfor %}

var idx_ru = lunr(function () {
    // this.use(lunr.ru);
    // this.use(lunr.multi('en', 'ru'));
    this.use(lunr.multiLanguage('en', 'ru'))
    this.ref('id')
    this.field('title', { boost: 10 });
    this.field('body');


    documents_ru.forEach(function (doc) {
        this.add(doc)
    }, this)
});

var idx_en = lunr(function () {
    this.use(lunr.multiLanguage('en', 'ru'))
    this.ref('id')
    this.field('title', { boost: 10 });
    this.field('body');

    documents_en.forEach(function (doc) {
        this.add(doc)
    }, this)
});

// Expose for language switcher patches
window.documents_ru = documents_ru;
window.documents_en = documents_en;
window.idx_ru = idx_ru;
window.idx_en = idx_en;


    
function lunr_search(term) {
    $('#lunrsearchresults').show( 1000 );
    $( "body" ).addClass( "modal-open" );
    
    document.getElementById('lunrsearchresults').innerHTML = '<div id="resultsmodal" class="modal fade show d-block"  tabindex="-1" role="dialog" aria-labelledby="resultsmodal"> <div class="modal-dialog shadow-lg" role="document"> <div class="modal-content"> <div class="modal-header" id="modtit"> <button type="button" class="close" id="btnx" data-dismiss="modal" aria-label="Close"> &times; </button> </div> <div class="modal-body"> <ul class="mb-0"> </ul>    </div> <div class="modal-footer"><button id="btnx" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><span data-lang="ru">Закрыть</span><span data-lang="en">Close</span></button></div></div> </div></div>';
    if(term) {
        var lang = (document.documentElement && document.documentElement.getAttribute('data-lang')) ? document.documentElement.getAttribute('data-lang') : 'en';
        var idx = (lang === 'ru') ? idx_ru : idx_en;
        var documents = (lang === 'ru') ? documents_ru : documents_en;

        document.getElementById('modtit').innerHTML = "<h5 class='modal-title'><span data-lang='ru'>Результаты поиска по запросу </span><span data-lang='en'>Search results for </span>'" + term + "'</h5>" + document.getElementById('modtit').innerHTML;
        //put results on the screen.
        var results = idx.search(term);
        if(results.length>0){
            //console.log(idx.search(term));
            //if results
            for (var i = 0; i < results.length; i++) {
                // more statements
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var body = documents[ref]['body'].substring(0,160)+'...';
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><small><span class='body'>"+ body +"</span><br /><span class='url'>"+ url +"</span></small></a></li>";
            }
        } else {
            document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'><span data-lang='ru'>Ничего не найдено. Закройте окно и попробуйте другой запрос.</span><span data-lang='en'>Sorry, no results found. Close and try a different search.</span></li>";
        }
    }
    return false;
}
</script>
<style>
    .lunrsearchresult .title {color: #d9230f;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>




<form class="bd-search hidden-sm-down" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
<input type="text" class="form-control text-small"  id="lunrsearch" name="q" value="" placeholder="Поиск по блогу..." data-i18n-placeholder-ru="Поиск по блогу..." data-i18n-placeholder-en="Search the blog..."> 
</form>
