<h5 class="mb-3">
    <span data-lang="ru">Посетите другие мои блоги</span>
    <span data-lang="en">Check Out My Other Blogs</span>
</h5>

<p>
    <span data-lang="ru">Я увлекаюсь не только ИТ технологиями и программированием. Ещё я много путешествую и люблю готовить. В этом разделе будут появляться ссылки на другие мои блоги.</span>
    <span data-lang="en">I'm interested not only in IT and programming. I also travel a lot and love cooking. This section contains links to my other blogs.</span>
</p>

<a target="_blank" href="https://cooking.danshin.ms" class="btn btn-warning d-block mb-2">
    <i class="fa fa-coffee"></i>
    <span data-lang="ru">Семейные рецепты</span>
    <span data-lang="en">Family Recipes</span>
</a>
<!--
<a target="_blank" href="#" class="btn btn-danger d-block mb-2"><i class="fa fa-plane"></i> Отчёты о моих путешествиях</a> 
-->
